<!DOCTYPE html>
<html>
<head>
    <title>Azure Resource Automation Demo</title>
</head>
<body>
<h1>Azure Resource Management Template Demonstration</h1>
<p>
Hostname: <?php echo gethostname() ?>
</p>
</body>
</html>
